body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('Tesla\ City.JPG') no-repeat center center fixed;
    background-size: cover;
}

.table-container {                                                                      /* The use of classes is not redditly apparent, although they are extremly useful, they allow you to apply CSS to a large amount of something on an individual level. */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 80%;
    background-color: black;
    color: #d9faff;
    border: 2px solid cyan;
    text-align: center;
}

th, td {
    padding: 15px;
    border: 1px solid cyan;
}

th {
    font-size: 1.2em;
    background-color: #007b7b;
}

tbody tr:nth-child(odd) {
    background-color: #333333;
}

tbody tr:nth-child(even) {
    background-color: #1a1a1a;
}